{% extends '::base.html.twig' %}

{% block page %}
        <div class="row">
          <div class="col-lg-12">
            <h1>SLA <small>Calcul</small></h1>
            <ol class="breadcrumb">
              <li><a href="{{ path('anexa') }}"><i class="icon-dashboard"></i> SLA</a></li>
              <li class="active"><i class="icon-file-alt"></i> Calcul</li>
            </ol>
          </div>
        </div><!-- /.row -->


        <div class="row">
          <div class="col-lg-12">
            <div class="bs-example">
              <div class="jumbotron">
			  
			{{ form_start(form) }}
			<div class="form-group">
				{{ form_label(form.owner) }}
				{{ form_widget(form.owner, {'attr': {'class': 'form-control', 'placeholder':'introduceti denumirea'}}) }}
			</div>
			
			{{ form_widget(form.Arata, {'attr': {'class': 'btn btn-primary'}}) }}
			
			{{ form_rest(form) }}
		{{ form_end(form) }}
		
              </div>
            </div>
          </div>
        </div><!-- /.row -->
		
		
		{% for department, services in results %}
		
		<div class="row">
          <div class="col-lg-12 text-left">
                <h2>
						{{ department }}
				</h2>
          </div>
        </div><!-- /.row -->
		
           <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped tablesorter">
				<thead>
					<tr>
						<th class="text-left">Serviciu <i class="fa fa-sort"></i></th>
						<th class="text-right">Valoare CTR <i class="fa fa-sort"></i></th>
						<th class="text-right">Penalizare <i class="fa fa-sort"></i></th>
						<th class="text-right">Valoare REALIZATA<i class="fa fa-sort"></i></th>
					</tr>
               </thead>
               <tbody>
					{% if services %}
						{% set total_ctr = 0 %}
						{% set total_penalities = 0 %}
						{% set total_real = 0 %}
						
						{% for row in services %}
							{% for service, options in row %}
									{% set contract_value	=	options.quantity*options.price %}
									{% set calculated_value	=	options.quantity*options.price - options.penality %}
								
									{% set total_ctr = total_ctr + contract_value %}
									{% set total_penalities = total_penalities + options.penality %}
									{% set total_real = total_real + calculated_value %}
									
									<tr {% if options.penality>0 %} class="danger" {% elseif calculated_value and contract_value>calculated_value %} class="warning" {% else %} class="success" {% endif %}>
										<td class="text-left">{{ service }}</td>
										<td class="text-right">{{ contract_value|number_format(2, '.', ',') }}</td>
										<td class="text-right">{{ options.penality|number_format(2, '.', ',') }}</td>
										<td class="text-right">{{ calculated_value|number_format(2, '.', ',') }}</td>
									</tr>
							{% endfor %}
						{% endfor %}
					{% endif %}
               </tbody>
			   <tfoot>
					<tr>
						<th class="text-left">TOTAL</th>
						<th class="text-right">{{total_ctr|number_format(2, '.', ',')}}</th>
						<th class="text-right">{{total_penalities|number_format(2, '.', ',')}}</th>
						<th class="text-right">{{total_real|number_format(2, '.', ',')}}</th>
					</tr>
			   </tfoot>
            </table>
        </div>		
		{% endfor %}
{% endblock %}