{% extends '::base.html.twig' %}

{% block page %}
        <div class="row">
          <div class="col-lg-12">
            <h1>Sisteme <small>Index</small></h1>
            <ol class="breadcrumb">
              <li><a href="{{ path('tlt_admn_systems_homepage') }}"><i class="icon-dashboard"></i> Sisteme</a></li>
              <li class="active"><i class="icon-file-alt"></i> Sisteme</li>
            </ol>
          </div>
        </div><!-- /.row -->
		
        <div class="row">
          <div class="col-lg-12">
            <div class="bs-example">
              <div class="jumbotron">
			  
		{{ form_start(form) }}
			<div class="form-group">
				{{ form_label(form.department) }}
				{{ form_widget(form.department, {'attr': {'class': 'form-control', 'placeholder':'introduceti denumirea'}}) }}
			</div>
			
			{{ form_widget(form.Arata, {'attr': {'class': 'btn btn-primary'}}) }}
			
			{{ form_rest(form) }}
		{{ form_end(form) }}
		
              </div>
            </div>
          </div>
        </div><!-- /.row -->
		

		
		<div class="row">
          <div class="col-lg-8 text-left">
                <h2>Lista sistemelor</h2>
          </div>
          <div class="col-lg-4 text-right">
              <div class="panel-body">
                <button type="submit" class="btn btn-primary" onclick="location.href='{{ path('tlt_admn_systems_add') }}'">Adauga sistem</button>
              </div>
          </div>
        </div><!-- /.row -->		
		

           <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped tablesorter">
				<thead>
					<tr>
						<th>Denumire <i class="fa fa-sort"></i></th>
						<th class="text-right">Optiuni</th>
					</tr>
               </thead>
               <tbody>
					{% if systems %}
						{% for system in systems %}
							<tr>
								<td>{{ system.name }}</td>
								<td class="text-right"><a href="{{ path('tlt_admn_systems_edit', {'id' : system.id}) }}">modifica</a></td>
							</tr>
						{% endfor %}
					{% endif %}
               </tbody>
			   <tfoot>
					<tr>
						<th colspan="2" class="text-center">Total {{ systems|length }} sisteme.</th>
					</tr>
			   </tfoot>
            </table>
        </div>

{% endblock  %}

{% block javascripts %}
	{{ parent() }}
		
	<!-- Page Specific Plugins -->
	<script src="{{ asset('js/tablesorter/jquery.tablesorter.js') }}"></script>
	<script src="{{ asset('js/tablesorter/tables.js') }}"></script>
{% endblock %}