{% extends '::base.html.twig' %}

{% block page %}

        <div class="row">
          <div class="col-lg-12">
            <h1>Proprietati [{{ serviceAttributeValue.equipment.name }}] <small>Confirmare</small></h1>
            <ol class="breadcrumb">
              <li><a href="{{ path('tlt_admn_service_attr_values_homepage', {'equipment_id':serviceAttributeValue.equipment.id}) }}"><i class="icon-dashboard"></i> Proprietati</a></li>
              <li class="active"><i class="icon-file-alt"></i> Editare</li>
            </ol>
          </div>
        </div><!-- /.row -->
		
		
        <div class="alert alert-dismissable alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
			
			{% if action == 'add' %}
				Actiunea de <strong>salvare</strong> s-a incheiat cu <strong>succes</strong>. <a href="{{ path('tlt_admn_service_attr_values_add', {'equipment_id':serviceAttributeValue.equipment.id}) }}" class="alert-link">[ Adaugati ]</a> o noua proprietate sau reveniti la lista <a href="{{ path('tlt_admn_service_attr_values_homepage', {'equipment_id':serviceAttributeValue.equipment.id}) }}"  class="alert-link">[ proprietatilor ]</a>.
			{% else %}
				Actiunea de <strong>editare</strong> s-a incheiat cu <strong>succes</strong>. Reveniti la lista <a href="{{ path('tlt_admn_service_attr_values_homepage', {'equipment_id':serviceAttributeValue.equipment.id}) }}"  class="alert-link">[ proprietatilor ]</a>.
			{% endif %}
        </div>

{% endblock %}