{% extends '::base.html.twig' %}

{% block page %}
    <div id="loading"></div>
        <div class="row">
          <div class="col-lg-12">
            <h1>Tichet {{form.vars.value.ticketCreate.id}} <small>Adaugare echipament</small></h1>
            <ol class="breadcrumb">
              <li><a href="{{ path('ticket_details', {'id' : form.vars.value.ticketCreate.id}) }}"><i class="icon-dashboard"></i> Tichet {{form.vars.value.ticketCreate.id}}</a></li>
              <li class="active"><i class="icon-file-alt"></i> Adaugare echipament</li>
            </ol>
          </div>
        </div><!-- /.row -->



    {{ form_start(form, {'attr': {'class':'breadcrumb'}}) }}
    {{ form_errors(form) }}

    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                {{ form_label(form.department) }}
                {{ form_widget(form.department, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.service) }}
                {{ form_widget(form.service, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.branch) }}
                {{ form_widget(form.branch, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="col-lg-6">
            <div class="form-group">
                {{ form_label(form.zoneLocation) }}
                {{ form_widget(form.zoneLocation, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-group">
                {{ form_label(form.owner) }}
                {{ form_widget(form.owner, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.equipment) }}
                {{ form_widget(form.equipment, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div><!-- /.row -->


    <div class="row">
        <div class="col-lg-12">
            <div class="jumbotron2">
                <div class="form-group">
                    {{ form_widget(form.salveaza, {'attr': {'class': 'btn btn-primary'}}) }}
                    {{ form_widget(form.reseteaza, {'attr': {'class': 'btn btn-default'}}) }}
                </div>
            </div>
        </div>
    </div><!-- /.row -->

    {{ form_rest(form) }}
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
	{{ parent() }}

<script type="text/javascript">

    $("#loading").dialog({
        maxWidth:200,
        maxHeight: 85,
        width: 200,
        height: 85,
        modal: true,
        autoOpen: false
    });
    $("#loading").siblings('div.ui-dialog-titlebar').remove();


    $("#ticketEquipment_owner").change(function(){
        var data = {
            department_id: $('#ticketEquipment_department').val(),
            service_id: $('#ticketEquipment_service').val(),
            branch_id: $('#ticketEquipment_branch').val(),
            location_id: $('#ticketEquipment_zoneLocation').val(),
            owner_id: $(this).val()
        };

        $.ajax({
            type: 'post',
            url: '{{ path("filter_select_equipments") }}',
            data: data,
            beforeSend: function(){
                if (!$("#loading").dialog( "isOpen" ))
                    $("#loading").dialog('open').html("<p style=\"font-size: 14pt\"><img src=\"{{ asset('css/loader.gif') }}\" /> Loading...</p>");
            },
            success: function(data) {
                $('#ticketEquipment_equipment').html('');

                for (var i=0, total = data.length; i < total; i++) {
                    $('#ticketEquipment_equipment').append('<option value="' + data[i].id + '">' + data[i].name + '</option>');
                }

                $('#loading').dialog("close");
            }
        });
    });


    $("#ticketEquipment_zoneLocation").change(function(){
        var data = {
            department_id: $('#ticketEquipment_department').val(),
            service_id: $('#ticketEquipment_service').val(),
            branch_id: $('#ticketEquipment_branch').val(),
            location_id: $(this).val()
        };

        $.ajax({
            type: 'post',
            url: '{{ path("filter_select_owners") }}',
            data: data,
            beforeSend: function(){
                if (!$("#loading").dialog( "isOpen" ))
                    $("#loading").dialog('open').html("<p style=\"font-size: 14pt\"><img src=\"{{ asset('css/loader.gif') }}\" /> Loading...</p>");
            },
            success: function(data) {
                $('#ticketEquipment_owner').html('');

                for (var i=0, total = data.length; i < total; i++) {
                    $('#ticketEquipment_owner').append('<option value="' + data[i].id + '">' + data[i].name + '</option>');
                }

                $('#ticketEquipment_owner').change();
            }
        });
    });




    $("#ticketEquipment_branch").change(function(){
        var data = {
            department_id: $('#ticketEquipment_department').val(),
            service_id: $('#ticketEquipment_service').val(),
            branch_id: $(this).val(),
            location_id: $('#ticketEquipment_zoneLocation').val()
        };
 
        $.ajax({
            type: 'post',
            url: '{{ path("filter_select_locations") }}',
            data: data,
            beforeSend: function(){
                if (!$("#loading").dialog( "isOpen" ))
                $("#loading").dialog('open').html("<p style=\"font-size: 14pt\"><img src=\"{{ asset('css/loader.gif') }}\" /> Loading...</p>");
            },
            success: function(data) {
                $('#ticketEquipment_zoneLocation').html('');

                for (var i=0, total = data.length; i < total; i++) {
                    $('#ticketEquipment_zoneLocation').append('<option value="' + data[i].id + '">' + data[i].name + '</option>');
                }

                $('#ticketEquipment_zoneLocation').change();
            }
        });
    });




    $("#ticketEquipment_service").change(function(){
        var data = {
            department_id: $('#ticketEquipment_department').val(),
            service_id: $(this).val(),
            branch_id: $('#ticketEquipment_branch').val(),
            location_id: $('#ticketEquipment_zoneLocation').val()
        };

        $.ajax({
            type: 'post',
            url: '{{ path("filter_select_branches") }}',
            data: data,
            beforeSend: function(){
                if (!$("#loading").dialog( "isOpen" ))
                    $("#loading").dialog('open').html("<p style=\"font-size: 14pt\"><img src=\"{{ asset('css/loader.gif') }}\" /> Loading...</p>");
            },
            success: function(data) {
                $('#ticketEquipment_branch').html('');

                for (var i=0, total = data.length; i < total; i++) {
                    $('#ticketEquipment_branch').append('<option value="' + data[i].id + '">' + data[i].name + '</option>');
                }

                $('#ticketEquipment_branch').change();
            }
        });
    });



    $("#ticketEquipment_department").change(function(){
        var data = {
            department_id: $(this).val(),
            service_id: $('#ticketEquipment_service').val(),
            branch_id: $('#ticketEquipment_branch').val(),
            location_id: $('#ticketEquipment_zoneLocation').val()
        };

        $.ajax({
            type: 'post',
            url: '{{ path("filter_select_services") }}',
            data: data,
            beforeSend: function(){
                if (!$("#loading").dialog( "isOpen" ))
                    $("#loading").dialog('open').html("<p style=\"font-size: 14pt\"><img src=\"{{ asset('css/loader.gif') }}\" /> Loading...</p>");
            },
            success: function(data) {
                $('#ticketEquipment_service').html('');

                for (var i=0, total = data.length; i < total; i++) {
                    $('#ticketEquipment_service').append('<option value="' + data[i].id + '">' + data[i].name + '</option>');
                }

                $('#ticketEquipment_service').change();
            }
        });
    });
</script>
{% endblock %}