{% extends '::base.html.twig' %}

{% block page %}

<div class="row">
    <div class="col-lg-12">
        <h1>Detalii <small>Tichet {{ticket.id}}</small></h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('tickets') }}"><i class="icon-dashboard"></i> Tichete</a></li>
            <li class="active"><i class="icon-file-alt"></i> Index</li>
        </ol>
    </div>
</div><!-- /.row -->


<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped tablesorter">
                <tr>
                    <table class="table table-bordered">
                        <tr>
                            <td>
                                {% if ticket.ticketEquipments is defined and ticket.ticketEquipments|length>0 %}
                                    {% if ticket.ticketEquipments.first.equipment.service.department.id == "1" %}
                                       <samp>DIP</samp>
                                    {% elseif ticket.ticketEquipments.first.equipment.service.department.id == "2" %}
                                        <samp>DTC</samp>
                                    {% elseif ticket.ticketEquipments.first.equipment.service.department.id == "3" %}
                                        <samp>DTI</samp>
                                    {% endif %}
                                {% else %}
                                    <samp><abbr title="attribute">n/a</abbr></samp>
                                {% endif %}

                            </td>
                            <td>
                                <samp>
                                    {% if ticket.ticketAllocations.first.branch.name|slice(0,7) == 'Agentia' %}
                                        Agentia/<strike>Centrul</strike> <abbr title="attribute">{{ ticket.ticketAllocations.first.branch.name|slice(8) }}</abbr>
                                    {% else %}
                                        <strike>Agentia</strike>/Centrul <abbr title="attribute">{{ ticket.ticketAllocations.first.branch.name|slice(8) }}</abbr>
                                    {% endif %}
                                </samp>


                                {% if ticket.ticketFix is not defined or ticket.ticketFix|length==0 %}
                                    {% if ticket.ticketEquipments is not defined or ticket.ticketEquipments|length==0 %}
                                        <button type="button" class="btn btn-info btn-xs" onclick="location.href='{{ path('reallocate_ticket', {'id' : ticket.id}) }}'">Realocare</button>
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td><samp>Urgent  <i class="fa fa-square-o"></i></samp></td>
                            <td><samp>Non urgent  <i class="fa fa-check-square-o"></i></samp></td>
                        </tr>
                    </table>
                </tr>
                <tr>
                    <table class="table table-bordered">
                        <tr>
                            <td><strong>Nr. Interventie:</strong> <samp><abbr title="attribute">{{ ticket.id }}</abbr></samp></td>
                            <td>
                                <strong>Data:</strong> <samp><abbr title="data aparitiei">{{ ticket.occuredAt|date('d-m-Y') }}</abbr></samp><br/>
                                <strong>Ora:</strong> <samp><abbr title="attribute">{{ ticket.occuredAt|date('H:m') }}</abbr></samp>
                            </td>
                            <td><strong>Preluat sesizarea:</strong> <samp><abbr title="attribute">{{ ticket.takenBy|default('n/a') }}</abbr></samp></td>
                        </tr>
                    </table>
                </tr>
                <tr>
                    <table class="table table-bordered">
                        <tr>
                            <td>
                                <strong>Lansat de:</strong>
                                <samp>
                                    <abbr title="attribute">
                                        {% if ticket.ticketEquipments|length > 0 %}
                                            {{ ticket.ticketEquipments.first.equipment.owner.name }}
                                        {% else %}
                                            <samp><abbr title="attribute">n/a</abbr></samp>
                                        {% endif %}
                                    </abbr>
                                </samp>
                            </td>
                            <td><strong>Nume sesizant:</strong> <samp><abbr title="attribute">{{ ticket.announcedBy|default('n/a') }}</abbr></samp></td>
                        </tr>
                        <tr>
                            <td><strong>Mod de transmitere sesizare:</strong> <samp><abbr title="attribute">{{ ticket.sentType|default('n/a') }}</abbr></samp></td>
                            <td><strong>Numar inregistrare sesizare:</strong> <samp><abbr title="attribute">[propunere sa dispara]</abbr></samp></td>
                        </tr>
                    </table>
                </tr>
                <tr>
                    <table class="table table-bordered">
                        <tr>
                            <td><strong>Descriere pe scurt deranjament:</strong> <samp><abbr title="attribute">{{ ticket.description }}</abbr></samp></td>
                        </tr>
                    </table>
                </tr>


                <!-- Echipamente si sisteme afectate -->
                <tr>
                    <table class="table table-bordered">
                        {% if ticketFix is defined and ticket.ticketFix|length>0 %}
                            {%  set colSpan = 2 %}
                        {% else %}
                            {%  set colSpan = 4 %}
                        {% endif %}

                        <tr>
                            <th colspan="{{ colSpan }}">Echipamente:</th>
                        </tr>

                        {%  if ticket.ticketEquipments is defined and ticket.ticketEquipments|length>0 %}
                            {% for te in ticket.ticketEquipments %}
                                {% set rowSpan = 1 %}

                                {% if te.ticketSystems is defined and te.ticketSystems|length>0 %}
                                    {% set rowSpan = rowSpan + te.ticketSystems|length %}
                                {% endif %}

                                {% if ticket.ticketFix is not defined or ticket.ticketFix|length==0 %}
                                    {% set rowSpan = rowSpan+1 %}
                                {% endif %}

                                        <tr>
                                            <td rowspan="{{ rowSpan }}" style="vertical-align: middle"><samp><abbr title="attribute"><a href="{{ path('admin_equipments_details', {'id' : te.equipment.id} ) }}">{{ te.equipment.name }}</a></abbr></samp></td>
                                            <th colspan="{{ colSpan-2 }}">Sisteme indisponibile</th>

                                            {# afisam butonul <Elimina echipament> doar daca tichetul nu este rezolvat. #}
                                            {% if ticket.ticketFix is not defined or ticket.ticketFix|length==0 %}
                                                <td rowspan="{{ rowSpan }}" class="text-center" style="vertical-align: middle">
                                                    <button type="button" class="btn btn-danger btn-md {% if (ticket.ticketFix is defined and ticket.ticketFix|length>0) or te.ticketSystems|length>0 %} disabled {% endif %}" onclick="if (confirm('Sunteti sigur?') == true) location.href='{{ path('rem_equip_from_ticket', {'id' : te.id}) }}';">Elimina echipament</button>
                                                </td>
                                            {% endif %}
                                        </tr>

                                        {% for sa in te.ticketSystems %}
                                            <tr>
                                                <td><samp><abbr title="attribute">{{ sa.system.name }}</abbr></samp></td>

                                                {# afisam butonul <Elimina sistem> doar daca tichetul nu este rezolvat. #}
                                                {% if ticket.ticketFix is not defined or ticket.ticketFix|length==0 %}
                                                    <td class="text-center">
                                                        <button type="button" class="btn btn-warning btn-xs {% if ticket.ticketFix is defined and ticket.ticketFix%} disabled {% endif %}" onclick="if (confirm('Sunteti sigur?') == true) location.href='{{ path('rem_sys_from_equip', {'id' : sa.id}) }}';">Elimina sistem</button>
                                                    </td>
                                                {% endif %}
                                            </tr>
                                        {% endfor %}

                                {% if ticket.ticketFix is not defined or ticket.ticketFix|length==0 %}
                                        <tr>
                                            <td colspan="2" class="text-center">
                                                <button type="button" class="btn btn-info btn-xs {% if ticket.ticketFix is defined and ticket.ticketFix is not null %} disabled {% endif %}" onclick="location.href='{{ path('add_sys_to_equip', {'id' : te.id}) }}'">Adauga sistem</button>
                                            </td>
                                        </tr>
                                    {% endif %}
                            {% endfor %}
                        {% endif %}

                        {% if ticket.ticketFix is not defined or ticket.ticketFix|length==0 %}
                            <tr>
                                <td colspan="4" class="text-center">
                                    <button type="button" class="btn btn-primary btn-md {% if ticket.ticketFix is defined and ticket.ticketFix is not null %} disabled {% endif %}" onclick="location.href='{{ path('add_equip_to_ticket', {'id' : ticket.id}) }}'">Adauga echipament</button>
                                </td>
                            </tr>
                        {% endif %}
                    </table>
                </tr>






                <!-- Mod de rezolvare -->
    {% if ticket.ticketFix %}
        <tr>
            <table class="table table-bordered">
                <tr>
                    <td><strong>Tip interventie:</strong> <samp><abbr title="attribute">{{ ticket.ticketFix.type|default('n/a') }}</abbr></samp></td>
                    <td><strong>Compartiment:</strong> <samp><abbr title="attribute">{{ ticket.ticketFix.compartment|default('n/a') }}</abbr></samp></td>
                </tr>
            </table>
        </tr>

                <tr>
                    <table class="table table-bordered">
                        <tr>
                            <td><strong>Persoana care rezolva:</strong> <samp><abbr title="attribute">{{ ticket.ticketFix.fixedBy }}</abbr></samp></td>
                            <td><strong>Data si ora rezolvarii:</strong> <samp><abbr title="attribute">{{ ticket.ticketFix.resolvedAt|date('m-d-Y H:m') }}</abbr></samp></td>
                        </tr>
                        <tr>
                            <td colspan="2"><strong>Mod de rezolvare:</strong>
                                <pre><abbr title="attribute">{{ ticket.ticketFix.obs }}</abbr></pre>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <strong>Resurse utilizate:</strong>
                                <pre><abbr title="attribute">{{ ticket.ticketFix.resources|default('n/a') }}</abbr></pre>
                            </td>
                        </tr>
                    </table>
                </tr>
        {% else %}
            <tr>
                <table class="table table-bordered">
                    <tr>
                        <td colspan="4" class="text-center">
                            <button type="button" class="btn btn-success btn-lg"
                                    {% if ticket.ticketEquipments is not defined or ticket.ticketEquipments|length==0 %}
                                        onclick="if (confirm('Nu ati introdus nici un echipament! Continuati?')== true) location.href='{{ path('fix_ticket', {'id' : ticket.id}) }}'"
                                    {% else %}
                                        onclick="location.href='{{ path('fix_ticket', {'id' : ticket.id}) }}'"
                                    {% endif %}

                                    >Rezolva tichet
                            </button>
                        </td>
                    </tr>
                </table>
            </tr>
        {% endif %}
            </table>
        </div>
    </div>
</div><!-- /.row -->
{% endblock  %}