{% extends '::base.html.twig' %}

{% block page %}
        <div class="row">
          <div class="col-lg-12">
            <h1>Detalii <small>Tichet {{ticket.id}}</small></h1>
            <ol class="breadcrumb">
              <li><a href="{{ path('tickets') }}"><i class="icon-dashboard"></i> Tichete</a></li>
              <li class="active"><i class="icon-file-alt"></i> Index</li>
            </ol>
          </div>
        </div><!-- /.row -->

		


           <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped tablesorter">
	<tr>
		<th class="text-left">Numar:</th>
		<td colspan="3">{{ticket.id}}</td>
	</tr>
                <!--
	<tr>
		<th class="text-left">Introdus la:</th>
		<td colspan="3">{{ ticket.insertedAt | date('Y-m-d H:i:s')}}</td>
	</tr>
	-->
	<tr>
		<th class="text-left">Aparut la:</th>
		<td colspan="3">{{ ticket.occuredAt | date('Y-m-d H:i:s')}}</td>
	</tr>	
	<tr>
		<th class="text-left">Anuntat la:</th>
		<td colspan="3">{{ ticket.announcedAt | date('Y-m-d H:i:s')}}</td>
	</tr>
                <tr>
                    <th class="text-left">Anuntat de:</th>
                    <td colspan="3">{{ ticket.announcedBy }}</td>
                </tr>
	<tr>
		<th class="text-left">Descriere:</th>
		<td colspan="3">{{ ticket.description}}</td>
	</tr>
	
	<!-- Delimitare -->
	<tr>
		<td colspan="4">&nbsp;</td>
	</tr>
	
	
	<tr>
		<th rowspan="{{1+ticket.ticketAllocations|length+((ticket.ticketFix is defined and ticket.ticketFix|length>0) or (ticket.ticketEquipments is defined and ticket.ticketEquipments|length>0) ? 0 : 1) }}" class="text-left"  style="vertical-align: middle;">
            Arondat
        </th>

		<th class="text-left">Entitatea</th>
		<th class="text-left">Persoana</th>
		<th class="text-left">Momentul</th>
	</tr>		
	{% for allocation in ticket.ticketAllocations %}
		<tr>
			<td>
                    {%  if not loop.first %}
                        <strike>{{allocation.branch}}</strike>
                    {%  else %}
                        {{allocation.branch}}
                    {%  endif %}
            </td>
			<td>
                {%  if not loop.first %}
                    <strike>{{allocation.insertedBy}}</strike>
                {%  else %}
                    {{allocation.insertedBy}}
                {%  endif %}
            </td>
			<td>
                {%  if not loop.first %}
                    <strike>{{allocation.insertedAt|date('Y-m-d H:i')}}</strike>
                {%  else %}
                    {{allocation.insertedAt|date('Y-m-d H:i')}}
                {%  endif %}
            </td>
		</tr>
	{% endfor %}

    {% if ticket.ticketFix is not defined or ticket.ticketFix|length==0 %}
        {% if ticket.ticketEquipments is not defined or ticket.ticketEquipments|length==0 %}
        <tr>
            <td colspan="3" class="text-center">
                <button type="button" class="btn btn-info btn-md" onclick="location.href='{{ path('reallocate_ticket', {'id' : ticket.id}) }}'">Realocare</button>
            </td>
        </tr>
        {% endif %}
    {% endif %}

	
	<tr>
		<td colspan="4">&nbsp;</td>
	</tr>

    <!-- Echipamente/Utilizatori afectati -->
	<tr>
        {% if ticket.ticketFix is not defined or ticket.ticketFix|length==0 %}
            <th colspan="3">Echipamente/Utilizatori afectati</th>
		    <th>Optiuni</th>
        {% else %}
            <th colspan="4">Echipamente/Utilizatori afectati</th>
        {% endif %}
	</tr>

	{% for te in ticket.ticketEquipments %}
		<tr>
			<th rowspan="{{te.ticketSystems|length+1+(ticket.ticketFix is defined and ticket.ticketFix|length>0 ? 0:1)}}" style="vertical-align: middle;">
                <a href="{{ path('admin_equipments_details', {'id' : te.equipment.id}) }}">{{ te.equipment }}</a>
            </th>

            {% if ticket.ticketFix is not defined or ticket.ticketFix|length==0 %}
                <th>Sisteme afectate</th>
                <th>Optiuni</th>
                <th rowspan="{{te.ticketSystems|length+2}}" class="text-center"  style="vertical-align: middle;">
                    <button type="button" class="btn btn-danger btn-md {% if ticket.ticketFix is defined and ticket.ticketFix or te.ticketSystems|length>0 %} disabled {% endif %}" onclick="location.href='{{ path('rem_equip_from_ticket', {'id' : te.id}) }}'">Elimina echipament</button>
                </th>
            {% else %}
                <th colspan="3">Sisteme afectate</th>
            {% endif %}
		</tr>

		{% for sa in te.ticketSystems %}
			<tr>

                {% if ticket.ticketFix is not defined or ticket.ticketFix|length==0 %}
                    <td>{{sa.system.name}}</td>
                    <td class="text-center">
                        <button type="button" class="btn btn-warning btn-xs {% if ticket.ticketFix is defined and ticket.ticketFix%} disabled {% endif %}" onclick="location.href='{{ path('rem_sys_from_equip', {'id' : sa.id}) }}'">Elimina sistem</button>
                    </td>
                {% else %}
                    <td colspan="3">{{sa.system.name}}</td>
                {% endif %}
			</tr>
		{% endfor %}

        {% if ticket.ticketFix is not defined or ticket.ticketFix|length==0 %}
        <tr>
            <td colspan="2" class="text-center">
                    <button type="button" class="btn btn-info btn-xs {% if ticket.ticketFix is defined and ticket.ticketFix is not null %} disabled {% endif %}" onclick="location.href='{{ path('add_sys_to_equip', {'id' : te.id}) }}'">Adauga sistem</button>
            </td>
        </tr>
        {% endif %}
	{% endfor %}

    {% if ticket.ticketFix is not defined or ticket.ticketFix|length==0 %}
        <tr>
            <td colspan="4" class="text-center">
                    <button type="button" class="btn btn-primary btn-md {% if ticket.ticketFix is defined and ticket.ticketFix is not null %} disabled {% endif %}" onclick="location.href='{{ path('add_equip_to_ticket', {'id' : ticket.id}) }}'">Adauga echipament</button>
            </td>
        </tr>
    {% endif %}
    <!-- Echipamente/Utilizatori afectati -->

	
	<tr>
		<td colspan="4">&nbsp;</td>
	</tr>

    <!-- Rezolvare -->
	{% if ticket.ticketFix %}
		<tr>
			<th class="text-left">Mode de rezolvare:</th>
			<td colspan="3">{{ticket.ticketFix.obs}}</td>
		</tr>
        <tr>
            <th class="text-left">Rezolvat de:</th>
            <td colspan="3">{{ ticket.ticketFix.modifiedBy }}</td>
        </tr>
		<tr>
			<th class="text-left">Este real:</th>
			<td colspan="3">
			{% if ticket.ticketFix.isReal %}
				<i class="fa fa-check"></i>
			{% endif %}
			</td>
		</tr>
        {% if not ticket.ticketFix.hasSystems %}
		<tr>
			<th class="text-left">De ce nu a afectat:</th>
			<td colspan="3">{{ticket.ticketFix.notAffectedReason}}</td>
		</tr>
        {% endif %}
		<tr>
			<th class="text-left">Momentul rezolvarii:</th>
			<td colspan="3">{{ticket.ticketFix.resolvedAt|date('Y-m-d H:i:s')}}</td>
		</tr>
	{% else %}
		<tr>
			<td colspan="4" class="text-center">
				<button type="button" class="btn btn-success btn-lg" onclick="location.href='{{ path('fix_ticket', {'id' : ticket.id}) }}'">Rezolva tichet</button>
			</td>
		</tr>	
	{% endif %}
    <!-- Rezolvare -->
	
	<tr>
		<td colspan="4">&nbsp;</td>
	</tr>
	<tr>
		<td colspan="4" class="text-center">
			<button type="button" class="btn btn-default" onclick="location.href='{{ path('tickets') }}'">Reveniti</button>
		</td>
	</tr>
            </table>
        </div>

{% endblock  %}

{% block javascripts %}
	{{ parent() }}		
{% endblock %}

