{% extends '::base.html.twig' %}

{% block page %}
        <div class="row">
          <div class="col-lg-12">
            <h1>Tichet {{form.vars.value.ticketCreate.id}} <small>Rezolvare</small></h1>
            <ol class="breadcrumb">
              <li><a href="{{ path('ticket_details', {'id' : form.vars.value.ticketCreate.id}) }}"><i class="icon-dashboard"></i> Tichet {{form.vars.value.ticketCreate.id}}</a></li>
              <li class="active"><i class="icon-file-alt"></i> Completare mod rezolvare</li>
            </ol>
          </div>
        </div><!-- /.row -->

		{{ form_start(form) }}
			<div class="form-group">
				{{ form_label(form.obs) }}
				{{ form_widget(form.obs, {'attr': {'class': 'form-control', 'placeholder':'Completati modul de rezolvare'}}) }}
			</div>			
			<div class="form-group">
				<label>Incidentul este real?</label>
                <div class="checkbox">
                  <label>
                    {{ form_widget(form.isReal)}}
                    {{ form_label(form.isReal) }}
                  </label>
			</div>
			{% if form.notAffectedReason is defined %}
				<div class="form-group">
					{{ form_label(form.notAffectedReason) }}
					{{ form_widget(form.notAffectedReason, {'attr': {'class': 'form-control', 'placeholder':'Motivati de ce nu a afectat vreun sistem'}}) }}
				</div>			
			{% endif %}
			<div class="form-group">
				{{ form_label(form.resolvedAt) }}
				{{ form_widget(form.resolvedAt) }}
			</div>
			{{ form_widget(form.salveaza, {'attr': {'class': 'btn btn-primary'}}) }}
			{{ form_widget(form.reseteaza, {'attr': {'class': 'btn btn-default'}}) }}
			
			{{ form_rest(form) }}
		{{ form_end(form) }}

{% endblock %}