{% extends '::base.html.twig' %}

{% block page %}

        <div class="row">
          <div class="col-lg-12">
            <h1>
				{% if action=='add' %}
					Tichete <small>Confirmare</small>
				{% elseif action=='reallocate' %}
					Tichet {{ ticket.ticketCreate.id }} <small>Confirmare</small>
				{% elseif action=='add_equip' %}
					Tichet {{ ticket.ticketCreate.id }} <small>Confirmare</small>
				{% elseif action=='rem_equip' %}
					Tichet {{ parent.id }} <small>Confirmare</small>
				{% elseif action=='add_sys' %}
					Tichet {{ ticket.ticketEquipment.ticketCreate.id }} <small>Confirmare</small>
				{% elseif action=='rem_sys' %}
					Tichet {{ parent.ticketCreate.id }} <small>Confirmare</small>
				{% elseif action=='fix' %}
					Tichet {{ ticket.ticketCreate.id }} <small>Confirmare</small>
				{% endif %}
			</h1>
            <ol class="breadcrumb">
				<li>
					{% if action=='add' %}
						<a href="{{ path('tickets') }}"><i class="icon-dashboard"></i> Tichete </a>
					{% elseif action=='reallocate' %}
						<a href="{{ path('ticket_details2', {id:ticket.ticketCreate.id}) }}"><i class="icon-dashboard"></i> Tichet {{ ticket.ticketCreate.id }}</a>
					{% elseif action=='add_equip' %}
						<a href="{{ path('ticket_details2', {id:ticket.ticketCreate.id}) }}"><i class="icon-dashboard"></i> Tichet {{ ticket.ticketCreate.id }}</a>
					{% elseif action=='rem_equip' %}
						<a href="{{ path('ticket_details2', {id:parent.id}) }}"><i class="icon-dashboard"></i> Tichet {{ parent.id }}</a>
					{% elseif action=='add_sys' %}
						<a href="{{ path('tickets') }}"><i class="icon-dashboard"></i> Tichet {{ ticket.ticketEquipment.ticketCreate.id }}</a>
					{% elseif action=='rem_sys' %}
						<a href="{{ path('ticket_details2', {id:parent.ticketCreate.id}) }}"><i class="icon-dashboard"></i> Tichet {{ parent.ticketCreate.id }}</a>
					{% elseif action=='fix' %}
						<a href="{{ path('ticket_details2', {id:ticket.ticketCreate.id}) }}"><i class="icon-dashboard"></i> Tichet {{ ticket.ticketCreate.id }}</a>
					{% endif %}
				</li>
				<li class="active">
					<i class="icon-file-alt"></i> 
					{% if action=='add' %}
						Introducere
					{% elseif action=='reallocate' %}
						Realocare
					{% elseif action=='add_equip' %}
						Adagare echipament
					{% elseif action=='rem_equip' %}
						Eliminare echipament
					{% elseif action=='add_sys' %}
						Adagare sistem
					{% elseif action=='rem_sys' %}
						Eliminare sistem
					{% elseif action=='fix' %}
						Rezolvare tichet
					{% endif %}
				</li>
            </ol>
          </div>
        </div><!-- /.row -->
		
		
        <div class="alert alert-dismissable alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
			
			{% if action == 'add' %}
				Tichetul cu numarul <a href="{{ path('ticket_details2', {id:ticket.id}) }}"  class="alert-link">[ {{ticket.id}} ]</a> a fost introdus cu <strong>succes</strong>. <a href="{{ path('add_ticket') }}" class="alert-link">[ Introduceti ]</a> un nou tichet sau reveniti la lista <a href="{{ path('tickets') }}"  class="alert-link">[ tichetelor ]</a>.
			{% elseif action == 'reallocate' %}
				Actiunea de <strong>realocare</strong> s-a incheiat cu <strong>succes</strong>. Reveniti la <a href="{{ path('ticket_details2', {'id':ticket.ticketCreate.id}) }}"  class="alert-link">[ tichet ]</a>.
			{% elseif action == 'add_equip' %}
				Echipamentul <strong>{{ticket.equipment.name}}</strong> a fost adaugat cu <strong>succes</strong>. <a href="{{ path('add_equip_to_ticket',  {'id' : ticket.ticketCreate.id}) }}" class="alert-link">[ Adaugati ]</a> un nou echipament sau reveniti la <a href="{{ path('ticket_details2', {'id' : ticket.ticketCreate.id}) }}"  class="alert-link">[ tichet ]</a>.
			{% elseif action == 'rem_equip' %}
				Echipamentul <strong>{{ticket.name}}</strong> asociat tichetului <strong>{{parent.id}}</strong> a fost sters cu <strong>succes</strong>. Reveniti la <a href="{{ path('ticket_details2', {'id':parent.id}) }}"  class="alert-link">[ tichet ]</a>.
			{% elseif action == 'add_sys' %}
				Sistemul <strong>{{ticket.system.name}}</strong>, pentru <strong>{{ticket.ticketEquipment.equipment.name}}</strong>, a fost adaugat cu <strong>succes</strong>. <a href="{{ path('add_sys_to_equip',  {'id' : ticket.ticketEquipment.id}) }}" class="alert-link">[ Adaugati ]</a> un nou sistem sau reveniti la <a href="{{ path('ticket_details2', {'id' : ticket.ticketEquipment.ticketCreate.id}) }}"  class="alert-link">[ tichet ]</a>.
			{% elseif action == 'rem_sys' %}
				Sistemul <strong>{{ticket.name}}</strong> asociat echipamentului <strong>{{parent.equipment.name}}</strong> a fost sters cu <strong>succes</strong>. Reveniti la <a href="{{ path('ticket_details2', {'id':parent.ticketCreate.id}) }}"  class="alert-link">[ tichet ]</a>.
			{% elseif action == 'fix' %}
				Actiunea de <strong>salvare</strong> s-a incheiat cu <strong>succes</strong>. Reveniti la <a href="{{ path('ticket_details2', {'id' : ticket.ticketCreate.id}) }}"  class="alert-link">[ tichet ]</a>.
			{% else %}
				Reveniti la lista <a href="{{ path('tickets') }}"  class="alert-link">[ tichetelor ]</a>.
			{% endif %}
        </div>
{% endblock %}