{% extends '::base.html.twig' %}

{% block page %}

        <div class="row">
          <div class="col-lg-12">
            <h1>
				{% if action=='add' %}
					Confirmare <small>Tichet nou</small>
				{% elseif action=='reallocate' %}
					Confirmare <small>Tichet {{ ticket.id }}</small>
				{% elseif action=='fix' %}
					Confirmare <small>Tichet {{ ticket.id }}</small>
				{% endif %}
			</h1>
            <ol class="breadcrumb">
				<li>
					<a href="{{ path('tickets') }}"><i class="icon-dashboard"></i> Tichete</a>
				</li>
				<li class="active">
					<i class="icon-file-alt"></i> 
					{% if action=='add' %}
						Introducere
					{% elseif action=='reallocate' %}
						Realocare
					{% elseif action=='fix' %}
						Rezolvare
					{% endif %}
				</li>
            </ol>
          </div>
        </div><!-- /.row -->
		
		
        <div class="alert alert-dismissable alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
			
			{% if action == 'add' %}
				Tichetul cu numarul <a href="{{ path('ticket_details', {id:ticket.id}) }}"  class="alert-link">[ {{ticket.id}} ]</a> a fost introdus cu <strong>succes</strong>. <a href="{{ path('add_ticket') }}" class="alert-link">[ Introduceti ]</a> un nou tichet sau reveniti la lista <a href="{{ path('tickets') }}"  class="alert-link">[ tichetelor ]</a>.
			{% elseif action == 'reallocate' %}
				Actiunea de <strong>realocare</strong> s-a incheiat cu <strong>succes</strong>. Reveniti la lista tichetelor <a href="{{ path('tickets') }}" class="alert-link">[ tichetelor ]</a>.
			{% elseif action == 'fix' %}
				Actiunea de <strong>salvare</strong> s-a incheiat cu <strong>succes</strong>. Reveniti la <a href="{{ path('ticket_details', {'id' : ticket.id}) }}"  class="alert-link">[ tichet ]</a>.
			{% else %}
				Reveniti la lista <a href="{{ path('tickets') }}"  class="alert-link">[ tichetelor ]</a>.
			{% endif %}
        </div>
{% endblock %}