<tr>
    <td colspan="10">
        {{ form_start(form, {'attr': {'class':'breadcrumb'}}) }}
        {{ form_errors(form) }}

        <div class="row">
            <div class="col-lg-4">
                <div class="form-group {% if form.isReal.vars.errors|length>0 %} has-error {% endif %}">
                    {{ form_label(form.isReal, form.isReal.vars.label, {'label_attr':{'class':'control-label'} }) }}
                    {{ form_widget(form.isReal, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.isReal) }}
                </div>
            </div>
            <div class="col-lg-8">
                <div class="form-group {% if form.notRealReason.vars.errors|length>0 %} has-error {% endif %}">
                    {{ form_label(form.notRealReason, form.notRealReason.vars.label, {'label_attr':{'class':'control-label'} }) }}
                    {{ form_widget(form.notRealReason, {'attr': {'class': 'form-control', 'placeholder':'Doar daca deranjamentul NU este real'}}) }}
                    {{ form_errors(form.notRealReason) }}
                </div>
            </div>
        </div><!-- row -->

        <div class="row">
            <div class="col-lg-3">
                <div class="form-group {% if form.fixedBy.vars.errors|length>0 %} has-error {% endif %}">
                    {{ form_label(form.fixedBy, form.fixedBy.vars.label, {'label_attr':{'class':'control-label'} }) }}
                    {{ form_widget(form.fixedBy, {'attr': {'class': 'form-control', 'placeholder':'Numele persoanei care rezolva'}}) }}
                    {{ form_errors(form.fixedBy) }}
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group {% if form.compartment.vars.errors|length>0 %} has-error {% endif %}">
                    {{ form_label(form.compartment, form.compartment.vars.label, {'label_attr':{'class':'control-label'} }) }}
                    {{ form_widget(form.compartment, {'attr': {'class': 'form-control', 'placeholder':'Compartimentul TELETRANS care rezolva tichetul'}}) }}
                    {{ form_errors(form.compartment) }}
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group {% if form.fixedAt.vars.errors|length>0 %} has-error {% endif %}">
                    {{ form_label(form.fixedAt.date, 'Data rezolvarii', {'label_attr':{'class':'control-label'} }) }}
                    {{ form_widget(form.fixedAt.date) }}
                    {{ form_errors(form.fixedAt) }}
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group {% if form.fixedAt.vars.errors|length>0 %} has-error {% endif %}">
                    {{ form_label(form.fixedAt.time, 'Ora rezolvarii', {'label_attr':{'class':'control-label'} }) }}
                    {{ form_widget(form.fixedAt.time) }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3">
                <div class="form-group {% if form.ticketType.vars.errors|length>0 %} has-error {% endif %}">
                    {{ form_label(form.ticketType, form.ticketType.vars.label, {'label_attr':{'class':'control-label'} }) }}
                    {{ form_widget(form.ticketType, {'attr': {'class': 'form-control', 'placeholder':'Introduceti o scurta descriere a deranjamentului reclamat'}}) }}
                    {{ form_errors(form.ticketType) }}
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    {{ form_label(form.backupSolution) }}
                    {#{ form_widget(form.backupSolution) }#}

                    {% for option in form.backupSolution %}
                        <div class="radio">
                            {#{ form_label(option) }#}
                            <label>{{ form_widget(option) }} {{ option.vars.label }} </label>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    {{ form_label(form.oldness) }}
                    {#{ form_widget(form.oldness) }#}

                    {% for option in form.oldness %}
                        <div class="radio">
                            <label>{{ form_widget(option) }} {{ option.vars.label }}</label>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    {{ form_label(form.emergency) }}
                    {#{ form_widget(form.oldness) }#}

                    {% for option in form.emergency %}
                        <div class="radio">
                            <label>{{ form_widget(option) }} {{ option.vars.label }}</label>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div><!-- row -->

        <div class="row">
            <div class="col-lg-12">
                <div class="form-group {% if form.equipment.vars.errors|length>0 %} has-error {% endif %}">
                    {{ form_label(form.equipment, form.equipment.vars.label, {'label_attr':{'class':'control-label'} }) }}

                    <select id="ticket_equipment2" class="form-control" lang="ro">
                        {% if (ticket.equipment is not null) %}
                            <option value="{{ ticket.equipment.id }}">{{ ticket.equipment.name }}</option>
                        {% endif %}
                    </select>
                        <p class="help-block">
                        {% if (ticket.equipment is not null and ticket.equipment.getPropertiesString|length>0) %}
                            <strong><em>{{ ticket.equipment.service.name }} \ {{ ticket.equipment.zoneLocation.location.name }}</em></strong><br>
                            {{ ticket.equipment.getPropertiesString}}
                        {% else %}
                            Descriere: Nu ati selectat nici un echipament.
                        {% endif %}
                        </p>

                    {{ form_widget(form.equipment, {'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.equipment) }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6" id="div_ticket_affectedSystems">
                <div class="form-group {% if form.ticketMapping.vars.errors|length>0 %} has-error {% endif %}">
                    {{ form_label(form.ticketMapping, form.ticketMapping.vars.label, {'label_attr':{'class':'control-label'} }) }}

                    {% if form.ticketMapping|length>0 %}
                        <div id="ticket_ticketMapping">
                        {% for mapping in form.ticketMapping %}
                            <div class="checkbox">
                                {{ form_widget(mapping, {'attr' : {'class':'affectedSystems'}}) }}
                            </div>
                        {% endfor %}
                        </div>
                    {% else %}
                        {{ form_widget(form.ticketMapping) }}
                    {% endif %}
                    {{ form_errors(form.ticketMapping) }}
                </div>
            </div>
{#        </div><!-- row -->  #}
        {#{{ ticket.description }} #}

{#introdus 11.09.2018 #}
{#        <div class="row"> #}
            <div class="col-lg-6" id="div_ticket_totalaffected">
                <div class="form-group {% if form.total_afectate.vars.errors|length>0 %} has-error {% endif %}">
                    {{ form_label(form.total_afectate, form.total_afectate.vars.label, {'label_attr':{'class':'control-label'} }) }}
                    {% if form.total_afectate|length>0 %}
                        <div id="ticket_totalaffected">

                            {% for mapping in form.total_afectate %}
                                {% set bifat = 0 %}
                                {%  for tichetemapate in ticket.getTicketMapping() %}
                                    {#{{ tichetemapate.getMapping().getId() }} #}
                                  {#  {{ tichetemapate.isTotalaffected() }} #}
                                    {% if tichetemapate.getMapping().getId()==mapping.vars.value %}
                                            {% if tichetemapate.isTotalaffected()==1 %}
                                                    {%  set bifat = 1  %}
                                                {% else %}
                                            {% endif %}
                                    {% else %}
                                    {% endif %}

                                {% endfor %}

{#                                {{ mapping.vars.value }}  #}
                                {% if bifat=='1' %}
                                <div class="checkbox">
                                    {{ form_widget(mapping, {'attr' : {'class':'totalaffected', 'checked':'checked'}}) }}
                                </div>
                                    {% else  %}
                                 <div class=    "checkbox">
                                     {{ form_widget(mapping, {'attr' : {'class':'totalaffected'}} ) }}
                                 </div>

                                {% endif %}
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form_widget(form.total_afectate) }}
                    {% endif %}
                    {{ form_errors(form.total_afectate) }}
                </div>
            </div>
        </div><!-- row -->
{#sf introdus 11.09.2018#}

        <div class="row">
            <div class="col-lg-12">
                <div class="form-group {% if form.fixedMode.vars.errors|length>0 %} has-error {% endif %}">
                    {{ form_label(form.fixedMode, form.fixedMode.vars.label, {'label_attr':{'class':'control-label'} }) }}
                    {{ form_widget(form.fixedMode, {'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.fixedMode) }}
                </div>
            </div>
        </div><!-- row -->

        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    {{ form_label(form.resources) }}
                    {{ form_widget(form.resources, {'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
        </div><!-- row -->

        {%  if form.isClosed is defined %}
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        {% include 'TltTicketBundle:Default:ticket_close_form.html.twig' %}
                    </div>
                </div>
            </div><!-- row -->
        {% endif %}

        {{ form_widget(form.salveaza, {'attr': {'class': 'btn btn-primary'}}) }}
        {{ form_widget(form.reseteaza, {'attr': {'class': 'btn btn-default'}}) }}

        {{ form_rest(form) }}
        {{ form_end(form) }}
    </td>
</tr>