{% extends '::base.html.twig' %}

{% form_theme form 'TltTicketBundle::fields.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('css/reports_journal.css' ) }}" rel="stylesheet">
{% endblock %}

{% block page %}
    <div class="row no-print">
        <div class="col-lg-12">
            <h1>PAM
                <small>Lista echipamente</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="{{ path('homepage') }}"><i class="icon-dashboard"></i> Prima pagina</a></li>
                <li class="active"><i class="icon-file-alt"></i>Rapoarte</li>
            </ol>
        </div>
    </div><!-- /.row -->

    {{ form_start(form, {'attr': {'class':'breadcrumb'} }) }}

    <div class="row no-print">
        <div class="col-lg-3">
            <div class="form-group">
                {{ form_label(form.owner) }}
                {{ form_widget(form.owner, {'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                {{ form_label(form.department) }}
                {{ form_widget(form.department, {'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
    </div>

    {#introdus 23.10.2018#}
    <div class="row no-print">
        <div class="col-lg-6">
            <div class="form-group">
                {{ form_label(form.service) }}
                {{ form_widget(form.service, {'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                {{ form_label(form.system) }}
                {{ form_widget(form.system, {'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
    </div>

    {# sfarsit introdus 23.10.2018#}
    <div class="row no-print">
        <div class="col-lg-12">
            <div class="text-right">
                <div class="form-group">
                    <br/>
                    {{ form_widget(form.Arata, {'attr': {'class': 'btn btn-primary' }}) }}
                </div>
            </div>
        </div>
    </div>

        {{ form_rest(form) }}
    {{ form_end(form) }}

    <div class="row text-center">
        <h2>Lista echipamentelor din PAM </h2>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>Denumire</th>
                <th>Cantitate</th>
                <th>Producator</th>
                <th>Model</th>
                <th>Serie</th>
                <th>Compartiment</th>
            </tr>
            </thead>

            <tbody>
            {% if pagination %}
                {% for equipment in pagination %}
                    {% set vendor, model, series, compartment = '', '', '', '' %}

                    {% if equipment.propertiesValues %}
                        {% for pv in equipment.propertiesValues %}
                            {% if pv.property.name == 'model' %}
                                {% set model = pv.value %}
                            {% elseif pv.property.name == 'producator' %}
                                {% set vendor = pv.value %}
                            {% elseif pv.property.name == 'serie' %}
                                {% set series = pv.value %}
                            {% elseif pv.property.name == 'compartiment' %}
                                {% set compartment = pv.value %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                    <tr>
                        <td><a href="{{ path('admin_equipments_details', {'id' : equipment.id}) }}">{{ equipment.name }}</a></td>
                        <td>{{ equipment.total }}</td>
                        <td>{{ vendor }}</td>
                        <td>{{ model }}</td>
                        <td>{{ series }}</td>
                        <td>{{ compartment }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>

    {# display navigation #}
    {#{% do pagination.setTemplate('::pagination.html.twig') %}#}
    {#{{ knp_pagination_render(pagination) }}#}

    {% if form.vars.value and form.vars.value.owner is not null %}
        {% include '::print_button.html.twig' with {'document':'PAM'} %}
    {% endif %}
{% endblock %}

{# introdus la 23.10.2018#}


{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">

        $("#pam_list_filters_owner").focusout(function(){
            //alert( "Handler for java called." );
            var data = {
                department_id: $('#pam_list_filters_department').val(),
            };
//         alert(data['department_id']);

            $.ajax({
                type: 'post',
                url: '{{ path("select_services") }}',
                data: data,
                beforeSend: function(){
                    $('#loader').modal({show:true,backdrop:'static'});
                },
                success: function(data) {
                    $('#pam_list_filters_service').html('');
                    $('#pam_list_filters_service').html('<option value="">-- Toate --</option>');
                    for (var i=0, total = data.length; i < total; i++) {
                        $('#pam_list_filters_service').append('<option value="' + data[i].id + '">' + data[i].name + '</option>');
                    }
                    $('#loader').modal('hide');
                }
            });
        });

        $("#pam_list_filters_department").change(function(){
                //alert( "Handler for java called." );
                var data = {
                    department_id: $(this).val(),
                };
//         alert(data['department_id']);

                $.ajax({
                    type: 'post',
                    url: '{{ path("select_services") }}',
                    data: data,
                    beforeSend: function(){
                        $('#loader').modal({show:true,backdrop:'static'});
                    },
                    success: function(data) {
                        $('#pam_list_filters_service').html('');
                        $('#pam_list_filters_service').html('<option value="">-- Toate --</option>');
                        for (var i=0, total = data.length; i < total; i++) {
                            $('#pam_list_filters_service').append('<option value="' + data[i].id + '">' + data[i].name + '</option>');
                        }
                        $('#loader').modal('hide');
                    }
                });
            });

        $("#pam_list_filters_service").change(function(){
           // alert( "Handler for java called." );
            var data = {
                owner_id: $('#pam_list_filters_owner').val(),
                department_id: $('#pam_list_filters_department').val(),
                service_id: $(this).val(),
            };
//         alert(data['department_id']);

            $.ajax({
                type: 'post',
//                url: '{{ path("filter_select_systems") }}',
                url: '{{ path("pam_select_systems") }}',
                data: data,
                beforeSend: function(){
                     $('#loader').modal({show:true,backdrop:'static'});
                },
                success: function(data) {
                    $('#pam_list_filters_system').html('');
                    $('#pam_list_filters_system').html('<option value="">-- Toate --</option>');

                    for (var i=0, total = data.length; i < total; i++) {
                        $('#pam_list_filters_system').append('<option value="' + data[i].id + '">' + data[i].name + '</option>');
                    }
                     $('#loader').modal('hide');
                }
            });

        });

    </script>

    <!-- Page Specific Plugins -->
    <script src="{{ asset('js/tablesorter/jquery.tablesorter.js') }}"></script>
    <script src="{{ asset('js/tablesorter/tables.js') }}"></script>
{% endblock %}

{# sfarsit introdus la 23.10.2018#}