{% extends '::base.html.twig' %}

{% form_theme form 'TltTicketBundle::fields.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('css/reports_journal.css' ) }}" rel="stylesheet">
{% endblock %}

{% block page %}
<div class="row no-print">
    <div class="col-lg-12">
        <h1>Număr de sesizări
            <small>Raport</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('homepage') }}"><i class="icon-dashboard"></i> Prima pagina</a></li>
            <li class="active"><i class="icon-file-alt"></i>Rapoarte</li>
        </ol>
    </div>
</div><!-- /.row -->

{{ form_start(form, {'attr': {'class':'breadcrumb'} }) }}

<div class="row no-print">
    <div class="col-lg-3">
        <div class="form-group">
            {{ form_label(form.owner) }}
            {{ form_widget(form.owner, {'attr': {'class': 'form-control'} }) }}
        </div>
    </div>
    <div class="col-lg-3">
        <div class="form-group">
            {{ form_label(form.department) }}
            {{ form_widget(form.department, {'attr': {'class': 'form-control'} }) }}
        </div>
    </div>
    <div class="col-lg-3">
        <div class="form-group">
            {{ form_label(form.start) }}
            {{ form_widget(form.start) }}
        </div>
    </div>
    <div class="col-lg-3">
        <div class="form-group">
            {{ form_label(form.end) }}
            {{ form_widget(form.end) }}
        </div>
    </div>
</div>
<div class="row no-print">
    <div class="col-lg-12">
        <div class="text-right">
            <div class="form-group">
                <br/>
                {{ form_widget(form.Arata, {'attr': {'class': 'btn btn-primary' }}) }}
            </div>
        </div>
    </div>
</div>

{{ form_rest(form) }}
    {{ form_end(form) }}

<div class="row text-center">
    <h2>Numărul sesizărilor în intervalul {{ form.start.vars.value.day }}.{{ form.start.vars.value.month }}.{{ form.start.vars.value.year }} - {{ form.end.vars.value.day }}.{{ form.end.vars.value.month }}.{{ form.end.vars.value.year }}</h2>
</div>

<style type="text/css">
    @media print {
        .no-print {
            display: none;
        }
    }

    .table-responsive {
        font-size: 11px;
    }
</style>


<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th nowrap>Mod sesizare</th>
                <th nowrap class="text-right">Rezolvate</th>
                <th class="text-right">Total sesizari</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>CALL CENTER</td>
                <td class="text-right">{{ results.call_center.done|default('0') }}</td>
                <td class="text-right">{{ results.call_center.total|default('0') }}</td>
            </tr>
            <tr>
                <td>AUTOSESIZARE</td>
                <td class="text-right">{{ results.auto.done|default('0') }}</td>
                <td class="text-right">{{ results.auto.total|default('0') }}</td>
            </tr>
            <tr>
                <td><strong>TOTAL</strong></td>
                <td class="text-right"><strong>{{ results.call_center.done|default('0') + results.auto.done|default('0')}}</strong></td>
                <td class="text-right"><strong>{{ results.call_center.total|default('0') + results.auto.total|default('0')}}</strong></td>
            </tr>
        </tbody>
    </table>
</div>

    {% if form.vars.value.owner is not null %}
        {% include '::print_button.html.twig' with {'document':'jurnalul'} %}
    {% endif %}
{% endblock %}