{% extends '::base.html.twig' %}

{% form_theme form 'TltTicketBundle::fields.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('bundles/tltmain/css/sla.css' ) }}" rel="stylesheet">
{% endblock %}

{% block page %}
    <style type="text/css">
        .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
            font-size: 11px;
        }
    </style>

    <div class="row no-print">
        <div class="col-lg-12">
            <h1>SLA</h1>
            <ol class="breadcrumb">
                <li><a href="{{ path('homepage') }}"><i class="icon-dashboard"></i> Prima pagina</a></li>
                <li class="active"><i class="icon-file-alt"></i>Rapoarte</li>
            </ol>
        </div>
    </div><!-- /.row -->

    {{ form_start(form, {'attr': {'class':'breadcrumb', 'id':'filter-form'} }) }}

    <div class="row no-print">
        <div class="col-lg-3">
            <div class="form-group">
                {{ form_label(form.owner) }}
                {{ form_widget(form.owner, {'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                {{ form_label(form.department) }}
                {{ form_widget(form.department, {'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                {{ form_label(form.start) }}
                {{ form_widget(form.start) }}
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                {{ form_label(form.end) }}
                {{ form_widget(form.end) }}
            </div>
        </div>
    </div>
    <div class="row no-print">
        <div class="col-lg-4">
            <div class="form-group">
                {#{ form_label(form.is_closed) }#}
                {{ form_widget(form.is_closed) }}
            </div>
        </div>
        <div class="col-lg-8">
            <div class="text-right">
                <div class="form-group">
                    <br/>
                    {{ form_widget(form.Arata, {'attr': {'class': 'btn btn-primary' }}) }}
                </div>
            </div>
        </div>
    </div>

    {{ form_rest(form) }}
    {{ form_end(form) }}

    <div class="row text-center">
        <div class="col-lg-12">
            <h3>RAPORT DE DISPONIBILITATE A SERVICIILOR DE {{ form.vars.value.department|upper }}</h3>
            <h3>EFECTUATE DE {{ form.vars.value.owner.reportsOwner|default('n/a') }} ÎN PERIOADA {{ form.vars.value.start|date('d.m.Y') }} - {{ form.vars.value.end|date('d.m.Y') }}</h3>
            <h3>PENTRU CNTEE TRANSELECTRICA SA - {{ form.vars.value.owner|default('n/a') }}</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Nr. Crt.<br/>&nbsp;</th>
                            <th class="length-limit">Serviciu/echipament/aplicatie<br/>&nbsp;</th>
                            <th nowrap>Criticitate<br/>&nbsp;</th>
                            <th class="text-center">Program orar<br/>&nbsp;</th>
                            <th class="text-right no-print">Timp maxim de functionare</th>
                            <th class="text-right">Disponibilitate<br/>contractata (%)</th>
                            <th class="text-right">Timp total real<br>indisponibilitate (ore)</th>
                            <th class="text-right no-print">Unitati</th>
                            <th class="no-print">Disponibilitate realizata fara unitati</th>
                            <th class="text-right">Disponibilitate<br/>realizata (%)</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for system in systems %}

                        {% if system.units_no>0 %}
                            {% set r_disp = (1-system.indisponible_time/system.total_time)*100 %}
                            {% set ru_disp = (1-system.indisponible_time/system.total_time/system.units_no)*100 %}
                        {% else %}
                            {% set r_disp = 0 %}
                            {% set ru_disp = 0 %}
                        {% endif %}

                        <tr>
                            <td>{{ loop.index }}</td>
                            <td class="length-limit">{{ system.name }}</td>
                            <td nowrap>{{ system.criticality|default('Critic: 1 ora') }}</td>
                            <td class="text-center" nowrap>{{ system.min_hour }} - {{ system.max_hour }}</td>
                            <td class="text-right text-primary no-print">{{ system.total_time }}</td>
                            <td class="text-right text-primary">{{ system.g_disp|number_format(2) }}</td>
                            <td class="text-right text-warning">
                                {% if system.indisponible_time > 0 %}
                                    <a href="{{ path('tlt_main_reports_tickets', {'systemID' : system.id, 'owner' : form.owner.vars.value, 'from' : form.start.vars.value.year ~ '-' ~ form.start.vars.value.month ~ '-' ~ form.start.vars.value.day, 'to' : form.end.vars.value.year ~ '-' ~ form.end.vars.value.month ~ '-' ~ form.end.vars.value.day }) }}">
                                        {{ "%02d"|format(system.indisponible_time//60) }}:{{ "%02d"|format(system.indisponible_time%60) }}
                                    </a>
                                {% else %}
                                    {{ "%02d"|format(system.indisponible_time//60) }}:{{ "%02d"|format(system.indisponible_time%60) }}
                                {% endif %}
                            </td>
                            <td class="text-right text-warning no-print">{{ system.units_no|number_format(0,',','.') }}</td>
                            <td class="text-right no-print {{ (r_disp<system.g_disp and system.indisponible_time>0 ? 'text-danger text' : 'text-success') }}">
                                {% if system.indisponible_time>0 %}
                                    {{ r_disp|number_format(2) }}%
                                {% else %}
                                    100.00%
                                {% endif %}
                            </td>
                            <td class="text-right {{ (ru_disp<system.g_disp and system.indisponible_time>0 ? 'text-danger' : 'text-success') }}">
                                {% if system.indisponible_time>0 %}
                                    {{ ru_disp|number_format(2) }}%
                                {% else %}
                                    100.00%
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.table-responsive -->
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row">
        <div class="col-lg-12">
            <table class="signatures">
                <tr>
                    <td class="text-center"><strong>Avizat,</strong></td>
                    <td class="text-center"><strong>PRESTATOR,</strong></td>
                    <td class="text-center"><strong>Întocmit,</strong></td>
                </tr>
                <tr>
                    <td class="text-center">&nbsp;</td>
                    <td class="text-center">{{ form.vars.value.owner.reportsOwner|default('n/a') }}</td>
                    <td class="text-center">&nbsp;</td>
                </tr>
                <tr>
                    <td class="text-center">&nbsp;</td>
                    <td class="text-center">&nbsp;</td>
                    <td class="text-center">&nbsp;</td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">

        $('#filter-form').submit(
            function() {
                $('#loader').modal({
                            backdrop : 'static'
                        }
                );

                return true;
            }
        );
    </script>
{% endblock %}