{% extends '::base.html.twig' %}

{% form_theme form 'TltTicketBundle::fields.html.twig' %}

{% block page %}
    <div class="row no-print">
        <div class="col-lg-12">
            <h1>SLA</h1>
            <ol class="breadcrumb">
                <li><a href="{{ path('homepage') }}"><i class="icon-dashboard"></i> Prima pagina</a></li>
                <li class="active"><i class="icon-file-alt"></i>Rapoarte</li>
            </ol>
        </div>
    </div><!-- /.row -->

    {{ form_start(form, {'attr': {'class':'breadcrumb'} }) }}

    <div class="row no-print">
        <div class="col-lg-3">
            <div class="form-group">
                {{ form_label(form.owner) }}
                {{ form_widget(form.owner, {'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                {{ form_label(form.department) }}
                {{ form_widget(form.department, {'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                {{ form_label(form.start) }}
                {{ form_widget(form.start) }}
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                {{ form_label(form.end) }}
                {{ form_widget(form.end) }}
            </div>
        </div>
    </div>
    <div class="row no-print">
        <div class="col-lg-12">
            <div class="text-right">
                <div class="form-group">
                    <br/>
                    {{ form_widget(form.Arata, {'attr': {'class': 'btn btn-primary' }}) }}
                </div>
            </div>
        </div>
    </div>

    {{ form_rest(form) }}
    {{ form_end(form) }}

    <table>
    {% for system in systems %}
        <tr>
        </tr>
    {% endfor %}
    </table>
{% endblock %}