{% extends '::base.html.twig' %}

{% block page %}
        <div class="row">
          <div class="col-lg-12">
            <h1>{{ equipment.name }} <small>Detalii</small></h1>
            <ol class="breadcrumb">
              <li><a href="{{ path('admin_equipments_index') }}"><i class="icon-dashboard"></i> Echipamente</a></li>
              <li class="active"><i class="icon-file-alt"></i> Detalii</li>
            </ol>
          </div>
        </div><!-- /.row -->
		
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Clasificare</h3>
					</div>
					<div class="panel-body">
						<div class="table-responsive">
							<table class="table table-bordered table-hover table-striped tablesorter">
								<tr><!-- location -->
									<th class="text-left">Entitatea:</th>
									<td colspan="3">{{ equipment.owner.name }}</td>
								</tr>		
								<tr>
									<th class="text-left">Agentia/Centrul:</th>
									<td colspan="3">{{ equipment.zoneLocation.branch.name }}</td>
								</tr>		
								<tr>
									<th class="text-left">Locatie:</th>
									<td colspan="3">{{ equipment.zoneLocation.location.name }}</td>
								</tr>
								<tr>
									<th class="text-left">Departament:</th>
									<td colspan="3">{{ equipment.service.department.name }}</td>
								</tr>
								<tr>
									<th class="text-left">Serviciu:</th>
									<td colspan="3">{{ equipment.service.name }}</td>
								</tr><!-- location -->
							</table>
						</div><!-- /.table-responsive -->
					</div><!-- /.panel-body -->
				</div><!-- /.panel -->
			</div><!-- /.col-lg-12 -->
		</div><!-- /.row -->				
				
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Generale</h3>
					</div>
					<div class="panel-body">
						<div class="table-responsive">
							<table class="table table-bordered table-hover table-striped tablesorter">
							
							<!--
								<tr>
									<th class="text-left">Numar:</th>
									<td colspan="3">{{equipment.id}}</td>
								</tr>
							-->
							
								<tr>
									<th class="text-left">Denumire:</th>
									<td colspan="3">{{ equipment.name }}</td>
								</tr>
								<tr>
									<th class="text-left">Cantitate:</th>
									<td colspan="3">{{ equipment.total }}</td>
								</tr>	
								<tr>
										<th class="text-left">Inclus in PAM:</th>
										<td colspan="3">
										{% if equipment.inPam %}
											<i class="fa fa-check"></i>
										{% endif %}
										</td>
								</tr>
								
							</table>
						</div><!-- /.table-responsive -->
					</div><!-- /.panel-body -->
				</div><!-- /.panel -->
			</div><!-- /.col-lg-12 -->
		</div><!-- /.row -->			
		
		{% if equipment.getPropertiesValues is not empty %}
        <div class="row">
			<div class="col-lg-12">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Properietati</h3>
					</div>
					<div class="panel-body">
						<div class="table-responsive">
							<table class="table table-bordered table-hover table-striped tablesorter">
								{% for pv in equipment.getPropertiesValues %}
									<tr>
										<th class="text-left">{{pv.getProperty.name}}</th>
										<td colspan="3">
											{{pv.value}}
										</td>
									</tr>
								{% endfor %}
							</table>
						</div><!-- /.table-responsive -->
					</div><!-- /.panel-body -->
				</div><!-- /.panel -->
			</div><!-- /.col-lg-12 -->
        </div><!-- /.row -->
		{% endif %}		
		
{% endblock  %}

{% block javascripts %}
	{{ parent() }}		
{% endblock %}