{% extends '::base.html.twig' %}

{% block page %}
        <div class="row">
          <div class="col-lg-12">
            <h1>Echipamente <small>Editare</small></h1>
            <ol class="breadcrumb">
              <li><a href="{{ path('admin_equipments_index') }}"><i class="icon-dashboard"></i> Echipamente</a></li>
              <li class="active"><i class="icon-file-alt"></i> Editare</li>
            </ol>
          </div>
        </div><!-- /.row -->

		{{ form_start(form, {'attr': {'class':'breadcrumb'}}) }}
			 {{ form_errors(form) }} 

		  <div class="row">
			  <div class="col-lg-6">			 		
				<div class="form-group">
					{{ form_label(form.name) }}
					{{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder':'introduceti denumirea'}}) }}
				</div>
				<div class="form-group">
					{{ form_label(form.total) }}
					{{ form_widget(form.total, {'attr': {'class': 'form-control', 'placeholder':'introduceti numarul de bucati'}}) }}
				</div>
				<div class="form-group">
					<label>PAM</label>
					<div class="checkbox">
					  <label>
						{{ form_widget(form.inPam)}}
						{{ form_label(form.inPam) }}
					  </label>
				</div>
				</div>
			</div>

			<div class="col-lg-6">
				<div class="form-group">
					{{ form_label(form.service) }}
					{{ form_widget(form.service, {'attr': {'class': 'form-control'}}) }}
				</div>
				<div class="form-group">
					{{ form_label(form.zoneLocation) }}
					{{ form_widget(form.zoneLocation, {'attr': {'class': 'form-control'}}) }}
				</div>
				<div class="form-group">
					{{ form_label(form.owner) }}
					{{ form_widget(form.owner, {'attr': {'class': 'form-control'}}) }}
				</div>
{# intordus 18.07.2018 #}
				<div class="form-group">
                    {{ form_label(form.system) }}
                    {{ form_widget(form.system, {'attr': {'class': 'form-control'}}) }}
				</div>
{# sfarsit intordus 18.07.2018 #}
			</div>
			</div><!-- /.row -->
			
		  <div class="row">
          <div class="col-lg-12">
              <div class="jumbotron2">
				<div class="form-group">
			{{ form_widget(form.salveaza, {'attr': {'class': 'btn btn-primary'}})  }}
			{{ form_widget(form.reseteaza, {'attr': {'class': 'btn btn-default'}}) }}
				</div>
            </div>
          </div>
        </div><!-- /.row -->
			
			{{ form_rest(form) }}
		{{ form_end(form) }}

    {% include 'TltAdmnBundle:Equipment:properties.html.twig' %}
			
{% endblock %}

{#{% block javascripts %}
	{{ parent() }}
{% endblock %}
#}

{# introdus la 18.07.2018#}
{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">

        {#        $("#equipment_service").change(function(){
            // alert( "Handler for java called." );
            var data = {
                service_id: $(this).val(),
            };

            $.ajax({
                type: 'post',
                url: '{{ path("equipment_select_system") }}',
                data: data,
                beforeSend: function(){
                    $('#loader').modal({show:true,backdrop:'static'});
                },
                success: function(data) {
                    $('#equipment_system').html('<option value="">-- Toate --</option>');

                    for (var i=0, total = data.length; i < total; i++) {
                        $('#equipment_system').append('<option value="' + data[i].id + '">' + data[i].name + '</option>');
                    }
                    $('#loader').modal('hide');
                }
            })
        });
#}
        $("#equipment_service").change(function(){
            // alert( "Handler for java called." );
            var data = {
                service_id: $(this).val(),
            };

            $.ajax({
                type: 'post',
                url: '{{ path("equipment_select_system") }}',
                data: data,
                beforeSend: function(){
                    $('#loader').modal({show:true,backdrop:'static'});
                },
                success: function(data) {
                    $('#equipment_system').html('<option value="">-- Toate --</option>');

                    for (var i=0, total = data.length; i < total; i++) {
                        $('#equipment_system').append('<option value="' + data[i].id + '">' + data[i].name.substring(0,120) + '</option>');
                    }
                    $('#loader').modal('hide');
                }
            })
        });
    </script>
{% endblock %}
{# sfarsit introdus la 18.07.2018#}