{% extends '::base.html.twig' %}

{% block page %}
    <div class="row">
        <div class="col-lg-12">
            <h1>Profil utilizator <small>Detalii</small></h1>
            <ol class="breadcrumb">
                <li><a href="{{ path('homepage') }}"><i class="icon-dashboard"></i> Prima pagina</a></li>
                <li class="active"><i class="icon-file-alt"></i> Profil utilizator</li>
            </ol>
        </div>
    </div><!-- /.row -->


    <div id="dialog" style="display:none;" title="Dialog Title"></div>


    <div class="table-responsive">
        <table class="table table-hover table-striped tablesorter">
            <tbody>
                <tr>
                    <td>Nume de utilizator:</td>
                    <td>{{ app.user.username }}</td>
                </tr>
                <tr>
                    <td>Status:</td>
                    <td>{{ app.user.status ? 'Activ' : 'Inactiv' }}</td>
                </tr>
                <tr>
                    <td>Nume:</td>
                    <td>{{ app.user.lastname }}</td>
                </tr>
                <tr>
                    <td>Prenume:</td>
                    <td>{{ app.user.firstname }}</td>
                </tr>
                <tr>
                    <td>Adresa de e-mail:</td>
                    <td>{{ app.user.email }}</td>
                </tr>

                {% if app.user.branches|length>1 %}
                    <tr>
                        <td rowspan="{{ app.user.branches|length + 1}}">Agentia/Centrul:</td>
                    </tr>
                        {% for branch in app.user.branches %}
                            <tr>
                                <td>{{ branch.name }}</td>
                            </tr>
                        {% endfor %}
                {% else %}
                    <tr>
                        <td>Agentia/Centrul:</td>
                        <td>{{ app.user.branches.first.name }}</td>
                    </tr>
                {% endif %}

                {% if app.user.owners|length>1 %}
                    <tr>
                        <td rowspan="{{ app.user.owners|length + 1}}">Entitatea:</td>
                    </tr>
                    {% for owner in app.user.owners %}
                        <tr>
                            <td>{{ owner.name }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td>Entitatea:</td>
                        <td>{{ app.user.owners.first.name }}</td>
                    </tr>
                {% endif %}

                {% if app.user.departments|length>1 %}
                    <tr>
                        <td rowspan="{{ app.user.departments|length+1}}">Tip serviciu:</td>
                    </tr>
                    {% for department in app.user.departments %}
                        <tr>
                            <td>{{ department.name }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td>Tip serviciu:</td>
                        <td>{{ app.user.departments.first.name }}</td>
                    </tr>

                {% endif %}
                <tr>
                    <td>Notificare pe email:</td>
                    <td>{{ app.user.emailNotification ? 'da' : 'nu' }}</td>
                </tr>
            </tbody>
            <tfoot>
            <tr>
                <th colspan="2"></th>
            </tr>
            </tfoot>
        </table>
    </div>

{% endblock %}