{% extends '::base.html.twig' %}

{% block page %}
    <div class="row">
        <div class="col-lg-12">
            <h1>Utilizatori aplicatia SLA<small> Index</small></h1>
            <ol class="breadcrumb">
                <li><a href="{{ path('homepage') }}"><i class="icon-dashboard"></i> Prima pagina</a></li>
                <li class="active"><i class="icon-file-alt"></i> Utilizatori aplicatia SLA</li>
            </ol>
        </div>
    </div><!-- /.row -->


    <div class="row">
        <div class="col-lg-8 text-left">
            <h2>Lista utilizatori</h2>
        </div>
        <div class="col-lg-4 text-right">
            <div class="panel-body">
                <button type="submit" class="btn btn-primary" onclick="location.href='{{ path('tlt_profile_user_add') }}'">Adauga utilizator</button>
            </div>
        </div>
    </div><!-- /.row -->


    <div class="table-responsive">
        <table id="users-table" class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>Nume de utilizator</th>
                <th>Nume</th>
                <th>Prenume</th>
                <th class="text-center">Optiuni</th>
            </tr>
            </thead>
            <tbody>
            {% if users %}
                {% for user in users %}
                    <tr>
                        <td><a href="{{ path('profile_user_details', {'id' : user.id}) }}">{{ user.username }}</a></td>
                        <td>{{ user.lastname }}</td>
                        <td>{{ user.firstname }}</td>
                        <!--
                        <td class="text-right"><a href="{{ path('profile_user_edit', {'id' : user.id}) }}">modifica</a></td>
                        -->
                        <td class="text-center" style="width: 140px">
                            <div class="btn-group" style="min-width: 90px">
                                <button type="button" class="btn btn-default">alege</button>
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('profile_user_edit', {'id' : user.id}) }}">Modifica</a></li>
                                    {% if user.id != 1 %}
                                        <li class="divider"></li>
                                        <li><a href="{{ path('profile_user_delete', {'id' : user.id}) }}"  onclick="return confirm('Sunteti sigur? Inregistrarea nu va putea fi recuperata!!!');">Sterge</a></li>
                                    {% endif %}
                                </ul>
                            </div><!-- /btn-group -->
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
            <tfoot>
            <tr>
                <th colspan="4" class="text-center">Total {{ users|length }} utilizatori.</th>
            </tr>
            </tfoot>
        </table>
    </div>

{% endblock  %}

{% block javascripts %}
    {{ parent() }}

    <!-- Page Specific Plugins -->
    <script type="text/javascript">
        $(document).ready(function(){
            $('#users-table').DataTable({
                "columnDefs": [
                    { "width": "40%", "targets": 0 }
                ],
                "language": {
                    "sProcessing":   "Proceseaza...",
                    "sLengthMenu":   "Afiseaza _MENU_ inregistrari pe pagina",
                    "sZeroRecords":  "Nu am gasit nimic - ne pare rau",
                    "sInfo":         "Afisate de la _START_ la _END_ din _TOTAL_ inregistrari",
                    "sInfoEmpty":    "Afisate de la 0 la 0 din 0 inregistrari",
                    "sInfoFiltered": "(filtrate dintr-un total de _MAX_ inregistrari)",
                    "sInfoPostFix":  "",
                    "sSearch":       "Cauta:",
                    "sUrl":          "",
                    "oPaginate": {
                        "sFirst":    "Prima",
                        "sPrevious": "Precedenta",
                        "sNext":     "Urmatoarea",
                        "sLast":     "Ultima"
                    }
                }
            });
        });
    </script>
{% endblock %}