{% extends 'TltProfileBundle::layout.html.twig' %}

{% block bodyClass %}login-page{% endblock %}

{% block content %}
    <div class="container">
        <form action="" class="form-signin">
            <div class="title-box">
                <h1 class="oro-title logo-image">
                    <img src="{{ asset('css/tlt.png') }}" width="100px">
                </h1>
                <span class="divider-vertical"></span>
                <h2 class="title">{{ 'Check Email'|trans }}</h2>
            </div>
            <fieldset>
                <div class="alert alert-success">
                    {{ 'Un email a fost trimis la %email%. Acesta contine un link pe care trebuie sa-l apasati pentru a va reseta parola.'|trans({ '%email%': email }) }}
                </div>
                <a href="{{ path('homepage') }}">{{ 'Mergi la pagina de start'|trans }}</a>
            </fieldset>
        </form>
    </div>
{% endblock %}