{% extends '::base.html.twig' %}

{% block page %}
        <div class="row">
          <div class="col-lg-12">
            <h1>Proprietati [{{ form.vars.value.equipment.name }}] <small>Adaugare</small></h1>
            <ol class="breadcrumb">
              <li><a href="{{ path('admin_sav_index', {'equipment_id':form.vars.value.equipment.id}) }}"><i class="icon-dashboard"></i> Proprietati</a></li>
              <li class="active"><i class="icon-file-alt"></i> Introducere</li>
            </ol>
          </div>
        </div><!-- /.row -->

		{{ form_start(form) }}
			<div class="form-group">
				{{ form_label(form.value) }}
				{{ form_widget(form.value, {'attr': {'class': 'form-control', 'placeholder':'introduceti valoarea'}}) }}
			</div>
			<div class="form-group">
				{{ form_label(form.property) }}
				{{ form_widget(form.property, {'attr': {'class': 'form-control'}}) }}
			</div>
			<div class="form-group">
				{{ form_label(form.equipment) }}
				{{ form_widget(form.equipment, {'attr': {'class': 'form-control'}}) }}
			</div>			
			{{ form_widget(form.salveaza, {'attr': {'class': 'btn btn-primary'}}) }}
			{{ form_widget(form.reseteaza, {'attr': {'class': 'btn btn-default'}}) }}
			
			{{ form_rest(form) }}
		{{ form_end(form) }}
{% endblock %}