{% extends '::base.html.twig' %}

{% block page %}
    <div class="row">
        <div class="col-lg-12">
            <h1>Anexa A
                <small>Detalii</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="{{ path('homepage') }}"><i class="icon-dashboard"></i> Prima pagina</a></li>
                <li class="active"><i class="icon-file-alt"></i> Anexa A</li>
            </ol>
        </div>
    </div><!-- /.row -->

    {{ form_start(form, {'attr': {'class':'breadcrumb'} }) }}

    <div class="row">
        <div class="col-lg-2">
            <div class="form-group">
                {{ form_label(form.year) }}
                {{ form_widget(form.year, {'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                {{ form_label(form.department) }}
                {{ form_widget(form.department, {'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                {{ form_label(form.owner) }}
                {{ form_widget(form.owner, {'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="col-lg-2">
            <div class="text-right">
                <div class="form-group">
                    <br/>
                    {{ form_widget(form.Arata, {'attr': {'class': 'btn btn-primary' }}) }}
                </div>
            </div>
        </div>
    </div>


    {{ form_rest(form) }}
    {{ form_end(form) }}

    {% for key, values in results %}

        <div class="row">
            <div class="col-lg-12 text-left">
                <h2>
                    {{ key }}
                </h2>
            </div>
        </div><!-- /.row -->

        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped tablesorter">
                <thead>
                <tr>
                    <th class="text-left">Serviciu <i class="fa fa-sort"></i></th>
                    <th class="text-right" nowrap>Bucati (CTR) <i class="fa fa-sort"></i></th>
                    <th class="text-right" nowrap>Bucati (BD) <i class="fa fa-sort"></i></th>
                    {% if is_granted('ROLE_ADMIN') %}
                        <th class="text-right" nowrap>Pret unitar <i class="fa fa-sort"></i></th>
                        <th class="text-right" nowrap>Valoare (CTR)<i class="fa fa-sort"></i></th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% set total = 0 %}
                {% if values %}
                    {% for result in values %}
                        {% set total = total + result.price*result.quantity %}
                        <tr>
                            <td class="text-left">{{ result.service }}</td>
                            <td class="text-right"><p
                                        {% if result.quantity > result.real_quantity %}class="text-danger"{% endif %}>{{ result.quantity|number_format(0, '.', ',')|default(0) }}</p>
                            </td>
                            <td class="text-right">{{ result.real_quantity|number_format(0, '.', ',')|default(0) }}</td>
                            {% if is_granted('ROLE_ADMIN') %}
                                <td class="text-right">{{ result.price|number_format(2, '.', ',')|default(0) }}</td>
                                <td class="text-right">{{ (result.price*result.quantity)|number_format(2, '.', ',')|default(0) }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>

                {% if is_granted('ROLE_ADMIN') %}
                    <tfoot>
                        <tr>
                            <th colspan="4" class="text-left">Total (CTR)</th>
                            <th class="text-right">{{ total|number_format(2, '.', ',')|default(0) }}</th>
                        </tr>
                    </tfoot>
                {% endif %}
            </table>
        </div>
    {% endfor %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <!-- Page Specific Plugins -->
    <script src="{{ asset('js/tablesorter/jquery.tablesorter.js') }}"></script>
    <script src="{{ asset('js/tablesorter/tables.js') }}"></script>
{% endblock %}