{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <!-- Morris Charts CSS -->
    <link href="{{ asset('bower_components/morrisjs/morris.css' ) }}" rel="stylesheet">
{% endblock %}

{% block page %}
        <div class="row">
          <div class="col-lg-12">
            <h1>Disponibilitate <small>Sisteme</small></h1>
            <ol class="breadcrumb">
              <li><a href="{{ path('tickets') }}"><i class="icon-dashboard"></i> Disponibilitate</a></li>
              <li class="active"><i class="icon-file-alt"></i> Sisteme</li>
            </ol>
          </div>
        </div><!-- /.row -->


    {{ form_start(form, {'attr': {'class':'breadcrumb'} }) }}

        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    {{ form_label(form.department) }}
                    {{ form_widget(form.department, {'attr': {'class': 'form-control', 'placeholder':'introduceti denumirea'}}) }}
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group text-right">
                    <br/>
                    {{ form_widget(form.Arata, {'attr': {'class': 'btn btn-primary'}}) }}
                </div>
            </div>
        </div><!-- /.row -->

    {{ form_rest(form) }}
    {{ form_end(form) }}

		{% if systems is not null %}
		
		  <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped tablesorter">
				<thead>
					<tr>
						<th class="text-right">ID <i class="fa fa-sort"></i></th>
						<th>Denumire <i class="fa fa-sort"></i></th>
						<th class="text-right">Garantat <i class="fa fa-sort"></i></th>
						<th class="text-right">Realizat <i class="fa fa-sort"></i></th>
					</tr>
               </thead>
               <tbody>
					{% for system in systems %}
						<tr {% if system.disponibility<system.guaranteed %} class="danger" {% endif %}>
							<td>{{ system.id }}</td>
							<td><a href="{{ path('admin_systems_details', {'id' : system.id}) }}">{{ system.name|truncate(90) }}</a></td>
							<td class="text-right">{{ system.guaranteed|number_format(2, '.', ',') }} %</td>
							<td class="text-right">
									{{ system.disponibility|number_format(2, '.', ',') }} %
							</td>
							</tr>
					{% endfor %}
				</tbody>
			   <tfoot>
					<tr>
						<th colspan="4" class="text-center">Total {{ systems|length }} sisteme.</th>
					</tr>
			   </tfoot>
            </table>
        </div>
		
		{% endif %}
		
    <div id="morris-bar-chart"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <!-- Morris Charts JavaScript -->
    <script src="{{ asset('bower_components/raphael/raphael-min.js') }}"></script>
    <script src="{{ asset('bower_components/morrisjs/morris.min.js') }}"></script>
    <script src="{{ asset('js/morris-data.js') }}"></script>

    <script>
        Morris.Bar({
            element: 'morris-bar-chart',
            data: [
                {% for system in systems %}
                {y: "{{system.name}}", a: {{system.guaranteed}}, b:{{system.disponibility}}},
                {% endfor %}
            ],
            xkey: 'y',
            ykeys: ['a', 'b'],
            labels: ['Garantatat', 'Realizat']
        });
    </script>
{% endblock %}
