{% extends '::base.html.twig' %}

{% block page %}
        <div class="row">
          <div class="col-lg-12">
            <h1>Tichet {{form.vars.value.ticketCreate.id}} <small>Adaugare echipament</small></h1>
            <ol class="breadcrumb">
              <li><a href="{{ path('ticket_details', {'id' : form.vars.value.ticketCreate.id}) }}"><i class="icon-dashboard"></i> Tichet {{form.vars.value.ticketCreate.id}}</a></li>
              <li class="active"><i class="icon-file-alt"></i> Adaugare echipament</li>
            </ol>
          </div>
        </div><!-- /.row -->

		{{ form_start(form) }}
			<div class="form-group">
				{{ form_label(form.branch) }}
				{{ form_widget(form.branch, {'attr': {'class': 'form-control'}}) }}
			</div>
			<div class="form-group">
				{{ form_label(form.location) }}
				{{ form_widget(form.location, {'attr': {'class': 'form-control'}}) }}
			</div>
			<div class="form-group">
				{{ form_label(form.department) }}
				{{ form_widget(form.department, {'attr': {'class': 'form-control'}}) }}
			</div>
			<div class="form-group">
				{{ form_label(form.service) }}
				{{ form_widget(form.service, {'attr': {'class': 'form-control'}}) }}
			</div>
			<div class="form-group">
				{{ form_label(form.equipment) }}
				{{ form_widget(form.equipment, {'attr': {'class': 'form-control'}}) }}
			</div>
			
			{{ form_widget(form.salveaza, {'attr': {'class': 'btn btn-primary'}}) }}
			{{ form_widget(form.reseteaza, {'attr': {'class': 'btn btn-default'}}) }}
			
			{{ form_rest(form) }}
		{{ form_end(form) }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}

<script type="text/javascript">
$("#ticketEquipment_branch").change(function(){
    var data = {
        branch_id: $(this).val()
    };
 
    $.ajax({
        type: 'post',
        url: '{{ path("select_locations") }}',
        data: data,
        success: function(data) {
            var $location_selector = $('#ticketEquipment_location');
 
            $location_selector.html('<option>Alegeti o optiune</option>');
 
            for (var i=0, total = data.length; i < total; i++) {
                $location_selector.append('<option value="' + data[i].id + '">' + data[i].name + '</option>');
            }
        }
    });
});


$("#ticketEquipment_location").change(function(){
    var data = {
        location_id: $(this).val(),
		service_id: $('#ticketEquipment_service').val()
    };
 
    $.ajax({
        type: 'post',
        url: '{{ path("select_equipments") }}',
        data: data,
        success: function(data) {
            var $equipment_selector = $('#ticketEquipment_equipment');
 
            $equipment_selector.html('<option>Alegeti o optiune</option>');
 
            for (var i=0, total = data.length; i < total; i++) {
                $equipment_selector.append('<option value="' + data[i].id + '">' + data[i].name + '</option>');
            }
        }
    });
});


$("#ticketEquipment_department").change(function(){
    var data = {
        department_id: $(this).val()
    };
 
    $.ajax({
        type: 'post',
        url: '{{ path("select_services") }}',
        data: data,
        success: function(data) {
            var $service_selector = $('#ticketEquipment_service');
 
            $service_selector.html('<option>Alegeti o optiune</option>');
 
            for (var i=0, total = data.length; i < total; i++) {
                $service_selector.append('<option value="' + data[i].id + '">' + data[i].name + '</option>');
            }
        }
    });
});

$("#ticketEquipment_service").change(function(){
    var data = {
		location_id: $('#ticketEquipment_location').val(),
		service_id: $(this).val()
    };
	
    $.ajax({
        type: 'post',
        url: '{{ path("select_equipments") }}',
        data: data,
        success: function(data) {
            var $equipment_selector = $('#ticketEquipment_equipment');
 
            $equipment_selector.html('<option>Alegeti o optiune</option>');
 
            for (var i=0, total = data.length; i < total; i++) {
                $equipment_selector.append('<option value="' + data[i].id + '">' + data[i].name + '</option>');
            }
        }
    });
});


$("#ticketEquipment_equipment").change(function(){
    var data = {
        equipment_id: $(this).val()
    };
	
    $.ajax({
        type: 'post',
        url: '{{ path("select_systems") }}',
        data: data,
        success: function(data) {
            var $system_selector = $('#ticketEquipment_ticketSystems');
 
            $system_selector.html('');
 
            for (var i=0, total = data.length; i < total; i++) {
                $system_selector.append('<input type="checkbox" id="ticketEquipment_ticketSystems_system_' + data[i].id + '" name="ticketEquipment[ticketSystems][system][]"     value="' + data[i].id + '" />');
				$system_selector.append('<label for="ticketEquipment_ticketSystems_system_' + data[i].id + '">' + data[i].name + '</label>');
            }
        }
    });
});
</script>
{% endblock %}