<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Teletrans - SLA</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="{{ asset('css/sb-admin.css' ) }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('font-awesome/css/font-awesome.min.css') }}">
  </head>

  <body>

    <div id="wrapper">
      <div id="page-wrapper">
	  
		{% if error %}
			<div class="row">
			  <div class="col-lg-6">
				<div class="bs-example">
				  <div class="alert alert-dismissable alert-danger">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<h4>Eroare!</h4>
					<p>{{error.message}}</a>.</p>
				  </div>
				</div>
			  </div>
			</div><!-- /.row -->
		{% endif %}	  

	  
		<div class="row">
          <div class="col-lg-6">

            <form role="form" action="{{ path('login_check') }}" method="post">

              <div class="form-group">
                <label>Utilizator</label>
                <input class="form-control" name="_username" value="{{ last_username }}" placeholder="introduceti numele de utilizator" />
              </div>

              <div class="form-group">
                <label>Parola</label>
                <input class="form-control" type="password" id="password" name="_password" placeholder="introduceti parola" />
              </div>
			  
				{#
					If you want to control the URL the user
					is redirected to on success (more details below)
					<input type="hidden" name="_target_path" value="/account" />
				#}
			
              <button type="submit" class="btn btn-primary">Login</button>
              <button type="reset" class="btn btn-default">Reset</button>  

            </form>
      </div><!-- /#page-wrapper -->

    </div><!-- /#wrapper -->	

    <!-- JavaScript -->
	{% block javascripts %}
		<script src="{{ asset('js/jquery-1.10.2.js') }}"></script>
		<script src="{{ asset('js/bootstrap.js') }}"></script>
	{% endblock %}	
  </body>
</html>