<h1>MODULUL de ADMINISTRARE</h1>

<p><a href="{{ path('tlt_admn_branch_homepage') }}">Sucursale</a></p>
<p><a href="{{ path('tlt_admn_locations_homepage') }}">Locatii</a></p>
<p>-</p>
<p><a href="{{ path('tlt_admn_departments_homepage') }}">Departamente</a></p>
<p>-</p>
<p><a href="{{ path('tlt_admn_services_homepage') }}">Servicii</a></p>
<p><a href="{{ path('tlt_admn_service_attrs_homepage') }}">Caracteristici Serviciu</a></p>
<p>-</p>
<p><a href="{{ path('tlt_admn_systems_homepage') }}">Sisteme</a></p>
<p>-</p>
<p><a href="{{ path('tlt_admn_equipments_homepage') }}">Echipamente</a></p>
