<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Teletrans - Aplicatie SLA</title>

      <!-- Bootstrap core CSS -->
      <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet">

    <!-- Add custom CSS here -->
      <link href="{{ asset('css/catalin.css' ) }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('font-awesome/css/font-awesome.min.css') }}">
  </head>

  <body class="desktop-version login-page">
  <div id="page">
      <div id="top-page">




          <div class="container">

          <form action="{{ path('login_check') }}" method="post" class="form-signin">
              <div class="title-box">
                  <h2 class="title">Aplicatie SLA</h2>
              </div>

              <fieldset>
                  {% if error %}
                  <div class="alert alert-error">
                      <div>{{ error.message }}</div>
                  </div>
                  {% endif %}

                  <div class="input-prepend">
                      <span class="add-on">Utilizator</span>
                      <input type="text" class="span2" name="_username" value="{{ last_username }}" placeholder="Utilizator sau Adresa de e-mail" required="required" autofocus />
                  </div>
                  <div class="input-prepend">
                      <span class="add-on">Parola</span>
                      <input class="span2" type="password" id="password" name="_password" placeholder="Parola" required="required" autocomplete="off" />
                  </div>
                  <!--
                  <label class="checkbox oro-remember-me">
                      <input type="checkbox" id="remember_me" name="_remember_me" value="on" /> Remember me on this computer
                  </label>
                  -->
                  <div class="control-group form-row">
                      <a href="#">Ati uitat parola?</a>
                      <button type="submit" class="btn btn-large  btn-primary pull-right" id="_submit" name="_submit">Autentificare</button>
                  </div>
              </fieldset>
          </form>

          </div>
      </div>
  </div>
  </body>
</html>