{% extends '::base.html.twig' %}

{% block page -%}
    <h1>SystemCategory - Creare</h1>

{#    {{ form(form) }}  #}

    <div class="form-group">
        {{ form_label(form.department) }}
        {{ form_widget(form.department, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="form-group">
        {{ form_label(form.name) }}
        {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder':'introduceti denumirea'}}) }}
    </div>

    <div class="form-group">
        {{ form_label(form.submit) }}
        {{ form_widget(form.submit)}}
    </div>

    <div class="form-group">
        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_systemcategory_index') }}">
            Inapoi la lista
        </a>
    </li>
</ul>
    </div>
{% endblock %}
