{% extends '::base.html.twig' %}

{% block page %}
        <div class="row">
          <div class="col-lg-12">
            <h1>Departamente <small>Adaugare</small></h1>
            <ol class="breadcrumb">
              <li><a href="{{ path('admin_departments_index') }}"><i class="icon-dashboard"></i> Departament</a></li>
              <li class="active"><i class="icon-file-alt"></i> Introducere</li>
            </ol>
          </div>
        </div><!-- /.row -->

		{{ form_start(form) }}
			<div class="form-group">
				{{ form_label(form.name) }}
				{{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder':'introduceti denumirea'}}) }}
			</div>
			
			{{ form_widget(form.salveaza, {'attr': {'class': 'btn btn-primary'}}) }}
			{{ form_widget(form.reseteaza, {'attr': {'class': 'btn btn-default'}}) }}
			
			{{ form_rest(form) }}
		{{ form_end(form) }}
{% endblock %}