{% extends '::base.html.twig' %}

{% block page %}
        <div class="row">
          <div class="col-lg-12">
            <h1>Agentii/Centre <small>Introducere agentie/centru nou</small></h1>
            <ol class="breadcrumb">
			  <li><a href="{{ path('admin_index') }}"><i class="icon-dashboard"></i> Administrare</a></li>
              <li><a href="{{ path('admin_branches_index') }}"><i class="icon-dashboard"></i> Agentii/Centre</a></li>
              <li class="active"><i class="icon-file-alt"></i> Introducere</li>
            </ol>
          </div>
        </div><!-- /.row -->

		{{ form_start(form) }}

			<div class="form-group">
				{{ form_label(form.name) }}
				{{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder':'introduceti denumirea Agentiei/Centrului'}}) }}
			</div>

	{#08.05.2018 #}
	<div class="form-group">
        {{ form_label(form.emails) }}
        {{ form_widget(form.emails, {'attr': {'class': 'form-control', 'placeholder':'introduceti adresa de Email a inginerului sef'}}) }}
	</div>

    {# sfarsit 08.05.2018 #}
			{{ form_widget(form.salveaza, {'attr': {'class': 'btn btn-primary'}}) }}
			{{ form_widget(form.reseteaza, {'attr': {'class': 'btn btn-default'}}) }}
			
			{{ form_rest(form) }}
		{{ form_end(form) }}
{% endblock %}